APP_NAME=Caremi
APP_ENV=dev
APP_URL=http://localhost
APP_KEY=
APP_DEBUG=true

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_TIMEZONE='Asia/Dubai'


DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=forge
DB_USER=root
DB_PASSWORD=

SESSION_DRIVER=file #file/database
SESSION_PREFIX=caremi
SESSION_SAVE_PATH=base_path('storage/sessions')
SESSION_EXPIRATION_TIMEOUT=7200

APP_MAINTENANCE_DRIVER=file #file/cache
APP_MAINTENANCE_STORE=database #file/database