#folders 
/vendor/
/framework/
/bootstrap/cache/*

#files
.maintenance
.idea/
.env
notes.txt
composer.lock

modules/Blog/database/migrations/*
storage/logs/*
storage/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/sessions/*
storage/views/*
storage/uploads/*
!.gitkeep