includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: max

    paths:
        - app
        - bootstrap
        - config
        - modules
        - routes
        - tests
        - framework/src
        - framework/tests

    tmpDir: .phpstan-cache

    treatPhpDocTypesAsCertain: true
    checkMissingCallableSignature: true
    reportUnmatchedIgnoredErrors: true

    excludePaths:
        analyse:
            - vendor
            - storage

